GATEWAY_HOST=gateway
GATEWAY_CONTAINER_PORT=8080
GATEWAY_HOST_PORT=8080
INTERSERVICE_PROTOCOL=https
LOGGING_FILE_NAME=/var/log/r8n/app.log
SERVICES_MOCK_HOST=mock
SERVICES_MOCK_PORT=8080
SERVICES_MESSAGING_HOST=messaging
SERVICES_MESSAGING_PORT=8080
SERVICES_OPINIONS_HOST=opinions
SERVICES_OPINIONS_PORT=8080
SERVICES_USERS_HOST=users
SERVICES_USERS_PORT=8080
SERVICES_EXPORT_HOST=export
SERVICES_EXPORT_PORT=8080
SERVICES_MESSAGING_URL=https://messaging:8080
SERVICES_MOCK_URL=https://mock:8080
SERVICES_OPINIONS_URL=https://opinions:8080
SERVICES_USERS_URL=https://users:8080
SERVICES_MIGRATION_HOST=migration
SERVICES_MIGRATION_PORT=8080
DATABASE_NAME=r8n
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=YOURPASSWORDHERE
DATABASE_OPINIONS_SCHEMA=opinions
DATABASE_HOST=database
DATABASE_HOST_PORT=5432
DATABASE_CONTAINER_PORT=5432
FRONTEND_HTTP_HOST_PORT=8088
FRONTEND_HTTPS_HOST_PORT=8443
SERVER_SSL_ENABLED=true
SECURITY_REFRESH_COOKIE_MAX_AGE=30d
JWT_ISSUER=r8n
AVATAR_STORAGE_LOCAL_ROOT=/var/lib/r8n/uploads/avatars
AVATAR_STORAGE_MAX_SIZE=2MB
VITE_AVATAR_MAX_SIZE_BYTES=2097152
VITE_PROFILE_NAME_MAX_LENGTH=255
VITE_PROFILE_ABOUT_MAX_LENGTH=255
VITE_PROFILE_LOCATION_MAX_LENGTH=255
VITE_AUTH_EMAIL_MAX_LENGTH=254
VITE_AUTH_PASSWORD_MAX_LENGTH=128
VITE_REGISTRATION_PASSWORD_MIN_LENGTH=12
SERVER_SSL_KEY_ALIAS=r8n-local
TLS_CERT_DAYS=3650
SSL_TRUST_STORE=/certs/truststore.p12
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
...
-----END PUBLIC KEY-----"
